<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>
    
    <body>
    <%- include('../includes/navigation.ejs') %>
    
    <main>
        <h1>Checkout</h1>
        <ul class="checkout__item-list">
        <% products.forEach(p => { %>
            <li class="checkout__item">
            <h2><%= p.productId.title %></h2>
            <p>Quantity: <%= p.quantity %></p>
            <p>Price: $<%= p.productId.price %></p>
            </li>
        <% }) %>
        </ul>
        <h2>Total: $<%= totalPay %></h2>

        <div class="centered">
            <button id="order-btn" class="btn">ORDER</button>
            <script src="https://js.stripe.com/v3/"></script>
            <script>
                var stripe = Stripe('pk_test_51PTwUyP1EcKcBg8oKUGVwZJbueyqf4DZWW4GMKGTi3N8VmyyfX9p8wEJASmzW3rqXyHKIijqmxuhPeUnAzN1IUrk004PY36ty4');
                var orderBtn = document.getElementById('order-btn');

                orderBtn.addEventListener('click', ()=>{
                stripe.redirectToCheckout({
                    sessionId: '<%= sessionId%>'
                    });
                });
            </script>
        </div>
    </main>
  
    <%- include('../includes/end.ejs') %>
